%h1 SELECT BOX

%div.selectbox{"ng-controller" => "selectController", "ng-init" => "init()"}

  %div.x_selectbox
    %div.up{"ng-click" => "up()"}▲
    %div{"ng-repeat" => "sel in selector"}
      %div.x_colum{"ng-click" => "click($index,$event)", "ng-class" => "{enable: selectAct($index)}"}
        {{sel}}
    %div.down{"ng-click" => "down()"}▼
  %br
  / %div.submit{"ng-click" => "submit()"}
  /   submit({{selectView()}})
